<section id="register" fxLayout="column" fxLayoutAlign="space-between" fxFlex="100">
  <form name="register">
    <div class="register" fxLayout="column" fxLayoutAlign="center" fxFlex="100">
      <div fxFlex="100" fxLayout="row wrap"  fxLayoutAlign="center">

          <div fxFlex="33" fxLayout="column wrap">
            <label class="title">Cadastrar</label>
            <label class="sub-title">Informações Pessoais</label>
            <div fxLayout="row" fxLayoutAlign="start">
              <input [(ngModel)]="user.nomeRazaoSocial" name="nomeRazaoSocial" required fxFlex="1 1 100" type="text" placeholder="Nome/Razão Social">
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
              <input [(ngModel)]="user.cpfcnpj" name="cpfcnpj" required fxFlex="1 1 50" type="number" max="99999999999" placeholder="CPF">
              <input [(ngModel)]="user.telefone" name="telefone" required fxFlex="1 1 50" type="number" max="9999999999999" placeholder="Telefone">
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
              <input [(ngModel)]="user.email" name="email" required fxFlex="1 1 100" type="email" placeholder="E-mail">
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
              <input [(ngModel)]="user.senha" name="senha" required fxFlex="1 1 100" type="password" placeholder="Senha">
            </div>
          </div>
          <div fxFlex="33" fxLayout="column wrap">
            <label class="title">&nbsp;</label>
            <label class="sub-title">Endereço</label> 
            <div fxLayout="row" fxLayoutAlign="start">
              <input [(ngModel)]="user.cep" name="cep" required fxFlex="1 1 25" type="number" max="99999999" placeholder="CEP">
              <input [(ngModel)]="user.logradouro" name="logradouro" required fxFlex="1 1 75" type="text" placeholder="Logradouro">
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
              <input [(ngModel)]="user.numero" name="numero" required fxFlex="1 1 25" type="number" max="999999" placeholder="Numero">
              <input [(ngModel)]="user.bairro" name="bairro" required fxFlex="1 1 75" type="text" placeholder="Bairro">
            </div>
          </div>
      </div>
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="center">
        <button fxFlex="1 1 33" (click)="save()">Cadastrar</button>
        </div>
        <div class="route-link">
          <span routerLink="/" routerLinkActive="active">Já tem uma conta? Faça login</span>
        </div>
      </div>
    </div>
  </form>
  <footer fxLayoutAlign="center">
    <img src="/assets/img/login/bottom-card.svg" alt="">
  </footer>
</section>